table {
    border-collapse : collapse;
    background-color : cornflowerblue;
    font-family : sans-serif;
    height : 250px;
    width : 350px;
    font-size : 100px;
    text-align : center;
}

table, td {
    border-style : solid;
    border-width : 3px;
    border-color : grey;
}

span {
    color : red;
}

body {
    background-color : lightblue;
}
