body{
    background-color: #bdcebe;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #333;
    font-size: 250%;
}

li {
    float: left;
    color: white;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#aptPost {
    width: 50%;
    height: 100%;
    float: left;
}

#aptSearch {
    width: 50%;
    height: 100%;
    float: right;
    font-size: 250%;
}

input[type=text] {
    height: 50px;
    width: 50%;
    font-size: 100%;
    margin: 20px;
}

input[type=submit] {
    width: 50%;
    font-size: 100%;
    margin: 10px;
}

select {
    height: 50px;
    width: 50%
    font-size: 25px;
}

#postRef {
    text-decoration: none;
    text-align: center;
    font-size: 250%;
    padding-top: 500px;
    margin-left: 25%;
    color: black;
}
